node_modules
.angular
!/src/
!/src/**
!/.editorconfig
!/.gitignore
!/angular.json
!/hackerrank.yml
!/karma.conf.js
!/package.json
!/package-lock.json
!/prototype.gif
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json
!/.github/
!/.github/**
!/.github/
!/.github/**
!/.github/
!/.github/**
!/.github/
!/.github/**
!/.github/
!/.github/**
